@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;1,300&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%; // 1rem == 10px

  @include respond(tab-port) {
    font-size: 50%; // 1rem == 8px
  }

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem == 9px
  }

  @include respond(big-desk) {
    font-size: 75%; // 1rem == 12px, 12/16
  }
}

body {
  background-color: $color-white;
  color: $color-gray-d;
  scroll-behavior: smooth;
}

#root {
  position: relative;

  @include media('>=desktop') {
    display: grid;
    grid-template-columns: 65vw 35vw;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  // -webkit-text-fill-color: currentColor;
  // -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  // box-shadow: 0 0 0px 1000px transparent inset;
  // transition: background-color 5000s ease-in-out 0s;
}
