@for $i from 1 through 6 {
  .h#{$i} {
    font-size: 2.4rem * calc(4 / $i) !important;
  }

  .fs-#{$i} {
    font-size: 2.8rem * calc($i / 2) !important;
  }
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-light,
.fw-300 {
  font-weight: 300 !important;
}

.fw-regular,
.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-bold,
.fw-600 {
  font-weight: 600 !important;
}

.fw-xbold,
.fw-700 {
  font-weight: 700 !important;
}

.heading {
  font-size: 3rem;
  padding-left: 0.5rem;
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 1.4rem;
  font-weight: 400;
  color: $color-gray-l;
  margin-bottom: 1rem;
}
