$color-primary: #f39982;
$color-primary-l: lighten($color-primary, 15%);
$color-primary-d: darken($color-primary, 20%);

$color-secondary: #492a50;
$color-secondary-l: lighten($color-secondary, 5%);
$color-secondary-d: darken($color-secondary, 5%);

$color-gray: #5f5f5f;
$color-gray-l: #b3b3b3;
$color-gray-d: #202020;

$color-white: #f8f8f8;
$color-black: #1d1d1d;

$color-success: #34bd62;
$color-info: #007bce;
$color-warning: #d4a217;
$color-error: #ff353f;

$ff-main: 'Source Sans Pro', sans-serif;
$ff-alt: 'Poppins', sans-serif;

// Z-INDEX
$z-below: -1;
$z-base: 0;
$z-fixed: 1;
$z-sticky: 2;
$z-modal: 3;
$z-toast: 4;

// @include media() $breakpoints
$breakpoints: (
  phone: 320px,
  tablet: 768px,
  desktop: 1024px,
  big-desktop: 1440px,
);
