.checkout {
  height: 100%;

  &__form {
    color: $color-white;
    background-color: $color-gray-d;
    padding: 2.2rem 0;
    border-radius: 1rem;
    margin-top: 5rem;
  }
}

.stripe {
  display: flex;
  flex-direction: column;

  .card-method {
    padding: 2rem;
    color: $color-white;
    background-color: $color-info;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;

    .btn {
      padding: 1rem 4rem;
      margin: auto;
      margin-top: 2rem;
      margin-right: 0;
      border: 1px solid transparent;
      border-radius: 1rem;
      color: $color-white;
      background-color: $color-success;
    }
  }
}
