.card {
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  font-family: $ff-alt;
  background-color: whitesmoke;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px 1px $color-gray-l;
  position: relative;

  &--noshadow {
    box-shadow: none;
  }

  &--fd-row {
    flex-direction: row;
  }

  &--dark {
    background-color: $color-gray-d;
    color: $color-white;
  }

  &__list {
    padding: 0 2rem;
    list-style: none;
    width: 100%;
    max-height: 12rem;
    overflow-x: auto;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    padding-top: 1rem;
    margin-bottom: 0.5rem;

    &:not(:last-child) {
      border-bottom: 1px solid $color-gray-l;
    }

    .title {
      width: 40%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .times {
      margin: auto;
    }

    .price {
      width: 20%;
      margin: auto 0;
      font-weight: 500;
      color: $color-gray;
    }
  }

  &--dark &__item > .price {
    color: $color-gray-l;
  }

  &__close {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    font-size: 2.5rem;
    color: $color-black;
  }

  &--dark &__close {
    color: $color-white;
  }

  &__img {
    max-width: 90%;
    height: auto;
    margin: 2rem 0;
    margin-bottom: auto;
  }

  &__title {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__description {
    font-size: 0.9rem;
    color: $color-gray-l;
  }

  &__price {
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: auto;
    margin-top: 1.5rem;
    color: $color-info;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    font-size: 1.6rem;
    background-color: $color-primary;
    border: 1px solid $color-primary;
    border-radius: 4px;
    color: $color-white;
    padding: 0.5rem 2rem;
    margin: auto;
    cursor: pointer;

    &:hover,
    &:active {
      color: $color-primary-d;
      border-color: $color-primary-d;
      background-color: $color-primary-l;
    }
  }

  &__qty {
    display: flex;
    background-color: rgba($color-gray-l, 0.35);
    width: 25%;
    border-radius: 4px;
    overflow: hidden;

    span {
      display: flex;
      flex: 1 1 30%;
      padding: 0.5rem 0;
      justify-content: center;
      align-items: center;
    }

    .display {
      background-color: $color-white;
      border: 1px solid rgba($color-gray-l, 0.45);
      flex-basis: 40%;
    }

    .minus,
    .plus {
      cursor: pointer;

      &:hover,
      &:active {
        background-color: rgba($color-gray-l, 0.85);
      }
    }
  }

  &--dark &__qty {
    .display {
      background-color: $color-gray-d;
    }
  }

  &__row {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    align-items: center;
  }

  &__concept {
    font-size: 1.5rem;
    font-weight: 300;
    margin-right: auto;
  }

  &__value {
    font-size: 1.55rem;
    margin-left: auto;
    font-weight: 600;
    color: $color-info;
    text-align: right;
  }

  &--dark &__value {
    color: $color-gray-l;
  }

  &__separator {
    margin: 0.3rem 0 0.7rem;
  }
}
