.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-gray-d, 0.35);
  z-index: $z-fixed;
  transition: right 0.2s;

  &.active {
    right: 0;
  }

  &__content {
    position: absolute;
    width: 75vw;
    height: 100vh;
    background-color: $color-white;
    top: 0;
    right: 0;
    z-index: $z-fixed;
  }
}
