.spinner {
  width: var(--sp-width, 5rem);
  height: var(--sp-height, 5rem);
  border-radius: 50%;
  border: var(--sp-border-wd, 1rem) solid transparent;
  border-bottom-color: var(--sp-border-c, $color-gray-d);
  margin: auto;
  animation-name: spinner;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
