.spinner {
  width: var(--sp-sz, 5rem);
  height: var(--sp-sz, 5rem);
  border-radius: 50%;
  border: var(--sp-thickness, 1rem) solid rgba($color-gray-l, 30%);
  border-bottom-color: var(--sp-color, $color-gray-d);
  margin: auto;
  animation-name: spinner;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
