.footer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 4rem 16rem 16rem 7rem 2rem;
  align-items: center;
  justify-content: center;

  &__heading {
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
  }

  &__link {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.8rem;

    &:last-child {
      margin-bottom: 0;
    }

    &--active {
      color: $color-info;
    }
  }

  &__data {
    font-size: 1.2rem;
    text-align: justify;
    width: 40ch;
    margin: auto;
  }

  &__icons {
    display: flex;
    justify-content: space-around;
    padding: 0 5rem;
  }

  &__icon {
    fill: currentColor;
    width: 5rem;
    height: 5rem;
  }
}
