.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-fixed;
  display: flex;
  height: 5rem;
  padding: 0 2rem;
  background-color: $color-gray-d;
  color: $color-white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  &__heading {
    margin: auto;
    margin-left: 0;
    font-size: 2rem;
  }

  &__toggler {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
    width: 4rem;
    height: 4rem;
    top: 5px;
    right: 16px;
    z-index: $z-modal;
    border-radius: 50%;
    background-color: $color-gray-d;
    color: $color-white;
    transform-origin: center;

    &.active {
      .bar {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;

        &:first-child {
          display: block;
          transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:last-child {
          display: block;
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }

    .bar {
      display: block;
      margin: 0 auto;
      height: 3px;
      width: 2rem;
      background-color: currentColor;
      transition: 0.35s;
    }
  }
}
