.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100vw;
  height: 100%;
  z-index: $z-fixed;
  transition: right 0.2s;

  &.active {
    right: 0;
  }

  @include media('>=desktop') {
    right: 0;
    z-index: $z-base;
    width: 34vw;
  }

  &__drop-shadow {
    background-color: $color-white;
    width: 100%;
    height: 100%;
    opacity: 0.35;
    z-index: $z-below;

    @include media('>=desktop') {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 85%;
    max-width: 35rem;
    height: 100vh;
    background-color: $color-white;
    box-shadow: -5px 0 10px -5px rgba($color-gray-d, 35%);
    top: 0;
    right: 0;
    z-index: $z-fixed;
    background-color: $color-white;

    @include media('>=desktop') {
      background: transparent;
      width: 90%;
      max-width: none;
      padding: 5rem 0 0;
      box-shadow: none;
      background-color: $color-gray-d;
    }
  }

  &__header {
    display: flex;
    height: 5rem;
    width: 100%;
    padding: 1rem 0;
    background-color: $color-gray-d;
    color: $color-white;

    @include media('>=desktop') {
      background-color: $color-white;
      color: $color-gray-d;
      padding: 1rem 17% 0;
    }
  }

  &__heading {
    font-size: 2rem;
    margin: auto;
    margin-left: 2rem;

    @include media('>=desktop') {
      display: none;
      font-size: 2.6rem;
      font-weight: 400;

      &.desktop {
        display: block;
      }
    }
  }

  &__logo {
    display: block;
    max-height: 100%;
    width: auto;
    margin-left: 2rem;
  }

  &__main {
    margin: auto 0;
    max-height: calc(100% - 50rem);
    width: 100%;
    padding: 2rem 0;

    @include media('>=desktop') {
      max-height: none;
      height: 45vh;
      background-color: $color-white;
      margin: 0;
      padding: 2rem 0;
    }
  }

  &__footer {
    background-color: $color-gray-d;
    color: $color-gray-l;

    @include media('>=desktop') {
      background-color: transparent;
      height: calc(100% - 45vh);

      .footer {
        height: 100%;
      }
    }
  }
}
