.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100vw;
  height: 100%;
  z-index: $z-fixed;
  transition: right 0.2s;

  &.active {
    right: 0;
  }

  &__drop-shadow {
    background-color: $color-white;
    width: 100%;
    height: 100%;
    opacity: 0.35;
    z-index: $z-below;
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 85%;
    max-width: 35rem;
    height: 100vh;
    background-color: $color-white;
    box-shadow: -5px 0 10px -5px rgba($color-gray-d, 35%);
    top: 0;
    right: 0;
    z-index: $z-fixed;
    background-color: $color-white;
  }

  &__header {
    display: flex;
    height: 8rem;
    width: 100%;
    padding: 1rem 0;
    background-color: $color-gray-d;
    color: $color-white;
  }

  &__heading {
    font-size: 2rem;
    margin: auto;
    margin-left: 2rem;
  }

  &__logo {
    display: block;
    max-height: 100%;
    width: auto;
    margin-left: 2rem;
  }

  &__main {
    margin: auto 0;
    max-height: calc(100% - 20rem);
    width: 100%;
    padding: 2rem 0;
  }

  &__footer {
    height: 12rem;
    background-color: $color-gray-d;
    color: $color-gray-l;
  }
}
